<tr class="{CSS_ROW}">
    <td class="std">
        <input type="checkbox" name="eval_id[]" value="{CHECKBOX_EVAL_ID}" {CHECKBOX_CHECKED} />
    </td> 
    <td class="std">
        {VAL_IDENTIFIER}
    </td>
    <td class="std">
        {TXT_TITLE}
    </td>
    <td class="std">
        {TXT_RESPONSIBLE}
    </td>
    <td class="std">
        {TXT_QUESTIONNAIRE}
    </td>
    <td class="std">
        <div id="{COURSE}">
            <span class="small">
                <!-- BEGIN course_or_group -->
                <a href="{TXT_COURSE}">{TXT_COURSE_TITLE}</a>,
                <!-- END course_or_group -->
            </span>
        </div>
    </td>
    <td class="std">
        <div id="{KEYWORD}">
            <span class="small">
                <!-- BEGIN keywords -->
                {TXT_KEYWORD},
                <!-- END keywords -->
            </span>
        </div>
    </td>
    <td class="std">
        <a href="{TXT_ACTION1}">Bearbeitung</a> 
    </td>
    <td class="std">
        <a href="{TXT_ACTION2}">Zuordnungen</a> 
    </td>
</tr>