<tr class="{CSS_ROW}">
    <td class="std">
        <input type="checkbox" name="ref_id[]" value="{CHECKBOX_EVAL_ID}" {CHECKBOX_CHECKED} />
    </td> 
	<td class="std">
		{TXT_REF_ID}
	</td>	
    <td class="std">
        <a href = "{LINK_COURSE_GROUP}">{TXT_COURSE_GROUP_NAME}</a>
        <br />
        <div class="xsmall">{TXT_PATH}</div>
    </td>
    <td class="std">
    	<span class="small">
        {TXT_CONTACT_NAME}
        <br />
        {TXT_CONTACT_EMAIL}
		</span>
    </td>
    <td class="std">
<div id="{COURSE}">
	<span class="small">
    <!-- BEGIN course_or_group -->
    {TXT_EVALUATION}<br /> 
    <!-- END course_or_group -->
	</span>
</div>
</td>

<!--
<td class="std">
    <a href="{TXT_ACTION1}">A1</a>
    <BR/>
    <a href="{TXT_ACTION2}">A2</a>
</td>
-->
</tr>